* {
background-color:#F5F0ED;
margin:0%; 
font-family:Helvetica,Arial,sans-serif;
color: #2d2d2b;
}
.container {
  width: 600px;
  margin: 0 auto;
}

#clock{
  position: fixed;
  padding: 10px;
  right: 0;
  top:0;
}


#start-prompt {
  text-align: center; 
  font-size: 28px;
}

button {
    padding: 10px;
    margin: 24px;
    cursor: pointer;
    font-size: 24px;
    background-color:#3D5361;
    color: white;
  }
.hide {
   display: none; 
}
#score-card {
  color: #2d2d2b;
  font-size: 30px; 



}